@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url(./reset.css);
@import url(./slider.css);
html{
    scroll-behavior: smooth;
}
:root{
    --card: #ffffff;
    --backgroundlight: #fffbf9;
    --backgrounddark: #EDE7E5;
    --stroke: #DACFCA;
    --primary: #A3887B;
    --hover: #8C6659;
    --head: #2D3047;
    --main-text: #556877;
    --accent: #FFEDDF;
    --font-body: "Wix Madefor Text", sans-serif;
    --font-head: "Alumni Sans", sans-serif;
}
header{
    background-color: var(--card);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-bottom: var(--stroke) 1px solid;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
body{
    width: 100%;
}
body.no-scroll {
    overflow: hidden;
}
.container{
    width: 1170px !important;
}
header .container{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-logo a {
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    color: var(--head);
}
.nav nav ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-family: var(--font-body);
}
.nav a{
    color: var(--main-text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
.header-contacts{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.header-contacts a:nth-child(1){
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: var(--head);
}
.header-contacts a:nth-child(2){
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--primary);
}
.swiper-pagination{
    display: none;
}
.swiper{
    height: 91vh;
    margin-top: 80px;
}
.all-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}
main .container{
    margin: 0 auto;
}
.info-home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1170px;
}
.text-home .text-home-title h2{
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    color: var(--head);
    margin-bottom: 40px;

}
.address-home{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.address-home p{
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--primary);
}
.text-home-text p{
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
}
.text-home-text{
    width: 570px;
    display: flex;
    align-content: space-between;
    height: 270px;
    flex-wrap: wrap;
}
.text-home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    height: 470px;
}
.padding{
    padding: 80px 0;
}
.card{
    width: 270px;
    height: 270px;
    background-color: var(--card);
    border: 2px solid var(--stroke);
    position: relative;
    transition: background-color 0.3s ease-in-out;
}
.card-home{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.info-card p:nth-child(1){
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
    z-index: 2;
}
.info-card p:nth-child(3){
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: var(--primary);
    z-index: 2;
}
.info-card p:nth-child(4){
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    color: var(--primary);
    z-index: 2;
}
.card-z2{
    position: absolute;
    left: -2px;
    top: 40px;
    width: 276px;
    background-color: var(--card);
    height: 190px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}
.card-z3{
    position: absolute;
    left: 40px;
    top: -2px;
    height: 276px;
    background-color: var(--card);
    width: 190px;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}
.card:hover .card-z2, .card:hover .card-z3{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.card-home .card:nth-child(2) .info-card p:nth-child(3), .card-home .card:nth-child(3) .info-card p:nth-child(3), .card-home .card:nth-child(4) .info-card p:nth-child(3){
    opacity: 0;
}
.type-flat-left-title h2{
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    color: var(--head);
}
.type-flat-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
.type-flat-main{
    background-color: var(--backgroundlight) !important;
}
.type-description p{
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
}
.zone-left h5, .zone-right h5{
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--head);
}
.info-zone p:nth-child(1){
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 110%;
    color: var(--primary);
}
.info-zone p:nth-child(2){
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
}
.type-flat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.flat-zones{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
}
.zone-left, .zone-right{
    width: 210px;
}
.type-btns{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.first-type button, .second-type button{
    width: 470px;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    background: none;
    border: var(--stroke) 2px solid;
    cursor: pointer;
}
.first-type button p:nth-child(3), .second-type button p:nth-child(3){
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: var(--head);
    transition: color 0.3s ease-in-out;
}
.first-type button p:nth-child(2), .second-type button p:nth-child(2){
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 110%;
    color: var(--primary);
    margin-left: -38px;
    transition: color 0.3s ease-in-out;
}
.map-flat-full{
    position: relative;
}
.map-flat{
    position: relative;
}
.map-left{
    position: absolute;
    -webkit-mask-image: url(../media/map-left.png);
    mask-image: url(../media/map-left.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 1;
}
.map-right{
    position: absolute;
    right: 0;
    top: 0;
    -webkit-mask-image: url(../media/map-right.png);
    mask-image: url(../media/map-right.png);
    -webkit-mask-size: cover;
    mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    z-index: 1;
}
.type-flat-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.disabled{
    opacity: 0.5;
    cursor: not-allowed;
    transition: opacity 0.3s ease-in-out;
}
.disabled button{
    border: var(--stroke) 2px solid;
}
.disabled p:nth-child(3){
    color: var(--primary) !important;
    transition: color 0.3s ease-in-out;
}
.disabled:hover{
    opacity: 1;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}
.disabled:hover p:nth-child(3){
    color: var(--head) !important;
    transition: color 0.3s ease-in-out;
}
.dark{
    filter: contrast(0.05) brightness(1);
    transition: filter 0.3s ease-in-out;
}
.flat-options h2{
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    color: var(--head);
}
.flat-options{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.options-cards{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.options-cards .card .info-card p:nth-child(1){
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--head);
    transition: color 0.3s ease-in-out;
}
.options-cards .card .info-card p:nth-child(2){
    font-family: var(--font-body);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: var(--main-text);
    z-index: 110;
}
.options-cards .card .info-card{
    align-items: start;
    justify-content: start;
    padding: 30px;
    width: 210px;
}
.img-card-options{
    z-index: 110;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.options-cards .card .info-card a{
    font-family: var(--font-head);
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: var(--primary);
    transition: color 0.3s ease-in-out;
}
.phone-card .info-card{
    justify-content: space-between !important;
    align-content: space-between !important;
    height: 220px !important;
}
.phone-card:hover{
    background-color: var(--primary);
    transition: background-color 0.3s ease-in-out;
}
.phone-card:hover .info-card a{
    color: var(--card);
    transition: color 0.3s ease-in-out;
}
.phone-card:hover .info-card p{
    color: var(--card) !important;
    transition: color 0.3s ease-in-out;
}
.options-cards .card:hover p:nth-child(1){
    color: var(--hover) !important;
    transition: color 0.3s ease-in-out;
}
.options-cards .card:hover svg path{
    fill: var(--head);
    transition: all 0.3s ease;
} 
.options-cards .card svg path{
    transition: all 0.3s ease;
}
.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;
}

.burger-menu span {
    width: 100%;
    height: 2px;
    background-color: var(--head);
    transition: all 0.3s ease;
}

.burger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}
